body {
    padding-left: 100px;
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

#sidenav {
    z-index: 1;
}

#menuButton {
    max-width: 2%;
}